body{
    background-color: rgb(167, 96, 233);
    font: normal 15pt Arial;
    color: white;
}
header{
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}
footer{
    text-align: center;
    font-style: italic;
}